In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

In [11]:
data = datasets.load_iris()
data.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [18]:
df = pd.DataFrame(data.data)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [22]:
data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [32]:
df.columns = data.feature_names
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [115]:
target = pd.DataFrame(data.target)
target

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [85]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, target, random_state = 0)

In [104]:
from sklearn.cluster import KMeans
k_means = KMeans(n_clusters=3)

In [105]:
k_means.fit(x_train)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [114]:
k_means.labels_

array([0, 0, 2, 1, 2, 1, 1, 0, 2, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 2, 2,
       0, 1, 0, 0, 0, 0, 0, 2, 1, 1, 2, 0, 1, 1, 2, 1, 0, 0, 1, 0, 2, 0,
       1, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 1, 0, 2, 1, 1, 2, 1, 1, 1, 0, 2,
       2, 1, 1, 1, 0, 0, 1, 1, 0, 1, 2, 0, 2, 0, 1, 0, 1, 2, 1, 1, 2, 1,
       2, 0, 0, 0, 2, 2, 0, 2, 1, 0, 2, 0, 1, 0, 0, 0, 0, 1, 1, 1, 2, 0,
       2, 1])

In [107]:
k_means.cluster_centers_

array([[5.84390244, 2.7097561 , 4.32926829, 1.40731707],
       [4.9972973 , 3.38918919, 1.45405405, 0.24054054],
       [6.90588235, 3.09705882, 5.70294118, 2.07058824]])

In [110]:
x_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
61                 5.9               3.0                4.2               1.5
92                 5.8               2.6                4.0               1.2
112                6.8               3.0                5.5               2.1
2                  4.7               3.2                1.3               0.2
141                6.9               3.1                5.1               2.3
..                 ...               ...                ...               ...
9                  4.9               3.1                1.5               0.1
103                6.3               2.9                5.6               1.8
67                 5.8               2.7                4.1               1.0
117                7.7               3.8                6.7               2.2
47                 4.6               3.2                1.4               0.2

[112 rows x 4 columns]