In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [82]:
data = {"Color":["Red","Red","Red","Yellow","Yellow","Yellow","Yellow","Yellow","Red","Red"],
        "Type": ["Sports","Sports","Sports","Sports","Sports","SUV","SUV","SUV","SUV","Sports"],
        "Origin": ["Domestic","Domestic","Domestic","Domestic","Imported","Imported","Imported","Domestic","Imported","Imported"],
        "Stolen": ["Yes","No","Yes","No","Yes","No","Yes","No","No","Yes",]
       }

In [83]:
df = pd.DataFrame(data)
df

    Color    Type    Origin Stolen
0     Red  Sports  Domestic    Yes
1     Red  Sports  Domestic     No
2     Red  Sports  Domestic    Yes
3  Yellow  Sports  Domestic     No
4  Yellow  Sports  Imported    Yes
5  Yellow     SUV  Imported     No
6  Yellow     SUV  Imported    Yes
7  Yellow     SUV  Domestic     No
8     Red     SUV  Imported     No
9     Red  Sports  Imported    Yes

In [84]:
df.shape

(10, 4)

In [85]:
new_df = np.array(df)
df

    Color    Type    Origin Stolen
0     Red  Sports  Domestic    Yes
1     Red  Sports  Domestic     No
2     Red  Sports  Domestic    Yes
3  Yellow  Sports  Domestic     No
4  Yellow  Sports  Imported    Yes
5  Yellow     SUV  Imported     No
6  Yellow     SUV  Imported    Yes
7  Yellow     SUV  Domestic     No
8     Red     SUV  Imported     No
9     Red  Sports  Imported    Yes

In [86]:
new_df[:,0][0]

'Red'

In [87]:
inp = ["Yellow", "SUV", "Domestic"]
out = ["Yes", "No"]
output = set(new_df[:,3])
outp = list(output)

In [88]:
# For Y == "Yes"

count_numerator_yes = np.zeros(len(inp))
for i in range(len(inp)):
    for j in range(len(df)):
        x = new_df[:,i][j]
        y = new_df[:,3][j]
        if x == inp[i] and y == out[0]:
            count_numerator_yes[i] += 1
dict = {out[0]: count_numerator_yes}
print(dict)

{'Yes': array([2., 1., 2.])}

In [89]:
# For Y == "No"
count_numerator_no = np.zeros(len(inp))
for i in range(len(inp)):
    for j in range(len(df)):
        x = new_df[:,i][j]
        y = new_df[:,3][j]
        if x == inp[i] and y == out[1]:
            count_numerator_no[i] += 1
dict_1 = {out[1]: count_numerator_no}
print(dict_1)

{'No': array([3., 3., 3.])}

In [90]:
y = new_df[:,3]
count_yes = 0
count_no = 0
for i in y:
    if i == "Yes":
        count_yes += 1
    else:
        count_no += 1
print(count_yes, count_no)

5 5

In [91]:
probability = []
prob = 1
for i in range(len(inp)):
    probability.append(count_numerator_yes[i]/count_yes)
for j in range(len(inp)):
    prob *= probability[j]
print(probability,prob)

[0.4, 0.2, 0.4] 0.03200000000000001

In [92]:
probability_1 = []
prob_1 = 1
for i in range(len(inp)):
    probability_1.append(count_numerator_no[i]/count_no)
    
for j in range(len(inp)):
    prob_1 *= probability_1[j]
print(probability_1,prob_1)

[0.6, 0.6, 0.6] 0.216

In [93]:
dic = {out[0]: prob, out[1]: prob_1}
print(max(dic, key=dic.get))

No

In [94]:
from sklearn.naive_bayes import GaussianNB

In [95]:
model = GaussianNB()

In [96]:
x_train = df.iloc[:,0:3]
y_train = df.iloc[:,3:4]
x_train

    Color    Type    Origin
0     Red  Sports  Domestic
1     Red  Sports  Domestic
2     Red  Sports  Domestic
3  Yellow  Sports  Domestic
4  Yellow  Sports  Imported
5  Yellow     SUV  Imported
6  Yellow     SUV  Imported
7  Yellow     SUV  Domestic
8     Red     SUV  Imported
9     Red  Sports  Imported

In [107]:
red = []
for i in df["Color"]:
    if i == "Red":
        red.append(1)
    else:
        red.append(0)

In [108]:
sports = []
for i in df["Type"]:
    if i == "Sports":
        sports.append(1)
    else:
        sports.append(0)

In [109]:
domestic = []
for i in df["Origin"]:
    if i == "Domestic":
        domestic.append(1)
    else:
        domestic.append(0)
domestic

[1, 1, 1, 1, 0, 0, 0, 1, 0, 0]

In [110]:
df_1 = pd.DataFrame(red)
print(df_1)

   0
0  1
1  1
2  1
3  0
4  0
5  0
6  0
7  0
8  1
9  1

In [111]:
df_1["red"] = df_1

In [112]:
df_1["sports"] = sports

In [113]:
df_1["domestic"] = domestic

In [114]:
x_train = df_1.iloc[:,1:4]
x_train

   red  sports  domestic
0    1       1         1
1    1       1         1
2    1       1         1
3    0       1         1
4    0       1         0
5    0       0         0
6    0       0         0
7    0       0         1
8    1       0         0
9    1       1         0

In [126]:
Y_train = []
for i in np.array(y_train):
    if i == ["Yes"]:
        Y_train.append(1)
    else:
        Y_train.append(0)

In [127]:
Y_train

[1, 0, 1, 0, 1, 0, 1, 0, 0, 1]

In [128]:
model.fit(x_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [151]:
output = ["Yes", "No"]
df2 = pd.DataFrame(np.array([[0, 0, 1]]), columns=['a', 'b', "c"])
print(output[model.predict(df2)[0]])

Yes

In [152]:
model.score(x_train, Y_train)

0.8